<div class="container">
  <div class="row">
    <h4 class="">目標:</h4>
    <p><%= @target.title %></p>
  </div>

  <div class="row">
    <h4>概要：</h4>
    <p><%= @target.detail %></p>
  </div>

  <%#いいね%>

  <%= render 'targets/favorite', target: @target %>

  <div class="row">
    <% if user_signed_in? %>
    <%= link_to "投稿を削除", target_path, method: :delete %>
    <% end %>
  </div>
</div>